logs
project/project
project/target
target
tmp
.history
dist

#for play
test/example*
.target
bin

.DS_Store

# for Eclipse
.classpath
.cache
.project
.settings

# for IDEA
.idea
*.iml

# for sample files
conf/social.conf
conf/TwitterConfig.scala