@(user: models.user.User, chatRooms: List[models.chat.ChatRoom])(implicit request: RequestHeader)

@import helper._
@import controllers.routes.javascript._
@javascriptRouter("jsRoutes")(
    ChatRoomsController.create,
    ChatRoomsController.index
)

@main(Some(user.name)) {
    <div class="page-header">
        <h1>Please Select Your ChatRoom</h1>
    </div>
    <div class="create-room">
        <div>
            <input type="text" id="name" placeholder="please enter new room's name...">
        </div>
        <div>
            <button class="btn btn-small" id="create_button">create</button>
        </div>
    </div>
    <div id="errors" class="error"></div>
    <div id="chatroom_list">
        @chatRooms.zipWithIndex.map{ case (chatRoom,i) =>
            @* 1行3列 *@
            @if(i % 3 == 0) {
            <div class="row">
            }
                <div class="chatroom_block span4">
                    <h2><a tabindex="@i" href="@routes.ChatRoomsController.show(chatRoom.id)">@chatRoom.name</a></h2>
                    @if(chatRoom.musics) {
                    <table class="table table-condensed table-striped">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Artist</th>
                        </tr>
                        </thead>
                        <tbody>
                        @chatRoom.musics.map { music =>
                        <tr>
                            <td>@music.songTitle</td>
                            <td>@music.artistName</td>
                        </tr>
                        }.take(5)
                        </tbody>
                    </table>
                    } else {
                    <p>There is no music yet.</p>
                    }
                </div>
            @if(i % 3 == 2 || (chatRooms.size - 1 == i)) {
            </div>
            }
        }
    </div>
    <script src="@routes.Assets.at("javascripts/chatroom.js")" type="text/javascript"></script>
    <script type="text/javascript">
        ChatRoomActions.bindCreate({button: 'create_button', name: 'name', list: 'chatroom_list', errors: 'errors', show_url: '@routes.ChatRoomsController.show(0).url.dropRight(1)'});
    </script>
}