@(connected: Option[String])(content: Html)

@import helper._
@import controllers.ChatRoomsController._

<!DOCTYPE html>

<html>
    <head>
        <title>Ripple</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="@routes.ChatRoomsController.index()">Ripple</a>
                    
                    @connected.map { username =>
                        <p class="pull-right">
                            Logged in as @username —
                            <a href="@routes.ChatRoomsController.index()">Disconnect</a>
                        </p>
                    }.getOrElse{
                        ログインしてください。
                        <a href="@routes.SessionsController.index">Login</a>
                    }
                    
                </div>
            </div>
        </div>

        <div class="container">

            <div class="content">
                @content
            </div>

            <footer>
                <p>
                    Ripple
                </p>
            </footer>

        </div>
        
    </body>
</html>
